server {

    listen 80;
    listen [::]:80;

    server_name gym-device.dev;
    root /var/www/gymio-desktop-vue;
    index index.nw.html;

    location / {
        index index.nw.html;
    }

    
}
